

article{
    width: 80%;
    display: flex;
    flex-flow: column wrap;
}

hr{
    width: 80%;
}

h2{
    text-align: center;
}

p{
    width: 80%;
}

pre{
    width: 80%;
    margin: 0 auto;
    background-color: whitesmoke;
    border-radius: 10px;
    overflow: auto;
}

code{
    display: flex;
    flex-flow: column;
    width: 100%;
    
    padding: 2.5rem;
}

p{
    text-align: justify;
}

@media (prefers-color-scheme: dark) {
    pre{
        color: #f9f9f9 ;
        background-color: #26292c
    }
}