

.control-buttons{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 70%;
}

.graphic-container{
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
    overflow: auto;
}

.graphic{
    width: 80%;
    
}

@media (max-width: 500px) {
    .graphic{width: 100%;
    }
}
