



.header-container{
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: whitesmoke;
    position: sticky;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .1);
}

img{
    width: 12rem;
}