
.home-page{
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 85%;
    margin: 0 auto;
}

p{
    text-align: justify;
}

.box{
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    margin: 1rem;
}

.section-container{
    padding: .5rem;
}

#title{
    font-size: 2rem;
}

.b-green{
    background-color: rgb(215, 245, 218);
}

.b-gray{
    background-color: whitesmoke;
}

.b-blue{
    background-color: rgb(197, 230, 235);
}

.b-red{
    background-color: rgb(235, 193, 193);
}