

nav{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.links{
    color: rgb(245, 245, 245);
    text-decoration: none;
    width: 8rem;
    text-align: center;
    margin: .5rem;
    padding: .4rem;
    border-radius: 5px;
    border: 1px solid transparent;
}

.b-red{
    background-color: rgb(209, 0, 0);
}

.b-blue{
    background-color: rgb(28, 156, 179);
}
.b-green{
    background-color: rgb(23, 134, 57);
}
.b-black{
    background-color: rgb(26, 25, 25);
}

.c-red{
    color: rgb(209, 0, 0);
}

h1{
    text-align: center;
}

p{
    width: 85%;
    margin: 0 auto;
}

a:hover{
    background-color: pink;
}

a{
    transition: all ease .2s;
}